<html>
    <head>
            <link rel="stylesheet" href="styles.css" type="text/css">
    </head>
    <body>
        <h1>The Dojo Message Board</h1>
        <form action="/messages" method="post" id="post">
            <label for="username">Name</label><br>
            <input type="text" name="username" id="username"><br>
            <label for="message">Message:</label><br>
            <textarea name="message" id="message" cols="50" rows="5"></textarea><br>
            <input type="submit" value="Post Message">
        </form>
        <% for (let x in messages) { %>
            <div>
                <h2>Message:</h2>
                <p><strong>Name:</strong> <%= messages[x].username %></p>
                <p><strong>Message:</strong> <%= messages[x].message %></p>
                <div class="comments">
                        <h3>Comments</h3>
                        <% for (let y=0; y<messages[x].comments.length;y++) { %>
                            <p><strong><%=  messages[x].comments[y].username %>:</strong> <%=  messages[x].comments[y].comment %></p>
                        <% } %>
            </div>
                <form action="/messages/<%= messages[x]._id %>" method="post" id="postcomment">
                    <label for="username">Name</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="comment">Comment</label><br>
                    <textarea name="comment" id="comment" cols="20" rows="5"></textarea><br>
                    <input type="submit" value="Post Comment">
                </form>
            </div>
        <% } %>
    </body>
</html>